@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: #c0c0c0;
}

h1,
h2,
h3 {
  color: #000;
}

.btn,
.toggle {
  cursor: pointer;
}

.btn {
  outline: none;
  border: none;
  background-color: #20b2aa;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1em;
}

ul,
li {
  list-style: none;
}

.toggle {
  display: none;
}

.error-message {
  color: red;
}

/****************************************
 header styles 
 *****************************************/

header {
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
}

header h2 {
  font-size: 2em;
}

nav ul li a {
  color: #696969;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000;
}

nav ul .btn {
  font-size: 1em;
  padding: 5px;
}

/********************************* 
section top styles 
**************************************/

.top {
  text-align: center;
  line-height: 1;
  height: 400px;
  width: 100%;
}

.top h1 {
  font-size: 2em;
}

.top .container {
  width: 100%;
}

.top-image {
  height: 300px;
  width: 400px;
}

.top button {
  margin-top: 20px;
}

/********************************* 
url bar styles 
*********************************/

.url-form {
  background-image: url("images/bg-shorten-mobile.svg");
  background-color: #663399;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: 75%;
  border-radius: 20px;
  padding: 0px 10px;
  transform: translateY(50%);
}

.url-form input {
  padding-left: 10px;
  font-size: 1em;
}

.url-form input,
.url-form button {
  border-radius: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 5px;
}

/*************************************************** 
user url styles
****************************************************/

.shortened-links-container {
  margin-top: 100px;
  height: max-content;
  margin-bottom: 100px;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 50px;
  padding: 10px 20px;
}

.result div a {
  text-decoration: none;
}

.shortened-url {
  margin-right: 10px;
}

.copy-btn {
  margin: 10px auto;
  border-radius: 10px;
}

/*****************************************************
 section middle styles 
****************************************************/

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #eff1f7;
  width: 100%;
  padding: 0px 30px;
}

.middle h2 {
  font-weight: bolder;
  font-size: 2em;
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-icon {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191970;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.card-icon img {
  height: 50px;
  width: 50px;
}

/*****************************************
 bottom section styles 
*****************************************/

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #663399;
  height: 250px;
  width: 100%;
  padding: 0px 30px;
}

.bottom h2 {
  color: #fff;
}

/*******************************************
 footer styles 
 ******************************************/

footer {
  background-color: rgb(37, 36, 36);
  padding: 0px 30px;
  width: 100%;
  color: #fff;
}

footer a {
  color: #696969;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

footer h2 {
  font-size: 2.5em;
  color: #fff;
}

.footer-links h3 {
  color: #fff;
  margin-bottom: 10px;
}

.social-icon {
  height: 30px;
  width: 30px;
  margin: 0px 5px;
  background-color: rgb(37, 36, 36);
}

/****************************************************
 media queries 
*****************************************************/

@media (max-width: 500px) {
  .top {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
  }

  .toggle {
    display: flex;
    outline: none;
    border: none;
    background-color: #fff;
    color: #696969;
    position: absolute;
    right: 0;
    transform: translate(-20px, 20px);
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  header h2 {
    position: absolute;
    left: 0;
  }

  /* shows nav element for mobile*/
  nav.show {
    transform: translateX(0%);
  }

  nav {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 80px;
    border-radius: 10px;
    background-color: #4b3f6b;
    height: 350px;
    width: 100%;
    transition: transform 0.5s ease-in;
    transform: translateX(110%);
  }

  nav ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  nav ul li {
    margin-bottom: 20px;
  }

  nav ul li a {
    color: #fff;
    width: 100%;
  }

  nav ul li a:hover {
    color: #696969;
  }

  nav ul li:nth-child(3) {
    border-bottom: 1px solid #696969;
    padding-bottom: 10px;
    width: 90%;
  }

  .url-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
  }

  .url-form input,
  .url-form button {
    height: 50px;
    width: 80%;
  }

  .shortened-links-container {
    width: 100vw;
  }

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
  }

  .normal-url {
    border-bottom: 1px solid #696969;
    width: 100%;
    padding: 10px 20px;
  }

  .shortened-url {
    padding: 10px 20px;
  }

  .copy-btn {
    border-radius: 10px;
    width: 100%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer h2 {
    margin-top: 50px;
    margin-left: 50px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  .top {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 100px;
  }

  .toggle {
    display: flex;
    outline: none;
    border: none;
    background-color: #fff;
    color: #696969;
    position: absolute;
    right: 0;
    transform: translate(-20px, 20px);
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  header h2 {
    position: absolute;
    left: 0;
  }

  /* shows nav element for mobile*/
  nav.show {
    transform: translateX(0%);
  }

  nav {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 80px;
    border-radius: 10px;
    background-color: #4b3f6b;
    height: 450px;
    width: 100%;
    transition: transform 0.5s ease-in;
    transform: translateX(150%);
  }

  nav ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 350px;
    width: 100%;
  }

  nav ul li {
    margin-bottom: 20px;
  }

  nav ul li a {
    color: #fff;
    width: 100%;
  }

  nav ul li a:hover {
    color: #696969;
  }

  nav ul li:nth-child(3) {
    border-bottom: 1px solid #696969;
    padding-bottom: 10px;
    width: 90%;
  }

  .url-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
  }

  .url-form input,
  .url-form button {
    height: 50px;
    width: 80%;
  }

  .shortened-links-container {
    width: 100vw;
  }

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
  }

  .normal-url {
    border-bottom: 1px solid #696969;
    width: 100%;
    padding: 10px 20px;
  }

  .shortened-url {
    padding: 10px 20px;
  }

  .copy-btn {
    border-radius: 10px;
    width: 100%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer h2 {
    margin-top: 50px;
    margin-left: 50px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
}

@media (min-width: 801px) {
  body,
  .top,
  .middle,
  .bottom,
  footer {
    padding: 0px 100px;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  nav {
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  nav ul li {
    margin-right: 20px;
  }

  nav ul li:nth-child(4) {
    margin-left: auto;
  }

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .top .container {
    width: 50%;
    margin-right: 50px;
  }

  .url-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
  }

  .url-form input {
    flex-grow: 2;
  }

  .url-form input,
  .url-form button {
    height: 50px;
  }

  .normal-url {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .normal-url:nth-child(2) {
    margin-left: auto;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .card {
    display: flex;
    max-height: 300px;
    max-width: 300px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .card-container .card:nth-child(1) {
    transform: translateY(-50px);
  }

  .card-container .card:nth-child(3) {
    transform: translateY(50px);
  }

  .card-text {
    max-height: 90%;
    max-width: 100%;
    overflow: auto;
  }

  .card-icon {
    margin-bottom: 5px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-top: 40px;
  }
}
